body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.align {
    width: 1166px;
    margin: 0 auto;
}

h1 {
    font-family: Clutch Sans;
    font-size: 60px;
    text-align: center;
    color: #666666;
    font-weight: 200;
}

.map {
    width: 921px;
    border: 1px solid #b6b6b6;
    float: left;
    display: inline-block;
    margin-bottom: 50px;
}

.chooses {
    display: inline-block;
    padding-left: 20px;
    width: 223px;
}

.chooses li {
    list-style-type: none;
    margin-bottom: 15px;
}

.chooses li a {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px solid #b6b6b6;
}

.chooses li a:active {
    color: #975bec;
    border-bottom: none;
}

.chooses li a:hover {
    border-bottom: none;
}

.info {
    width: 276px;
    position: absolute;
    min-height: 300px;
    margin-top: 23px;
    margin-left: 20px;
    color: #666666;
}

.districtname {
    position: absolute;
    width: 276px;
    text-align: -webkit-center;
    padding: 20px 0;
    background-color: #ebebeb;
    text-transform: uppercase;
    font-family: Clutch Sans;
    color: #666666;
    font-size: 24px;
    line-height: 38px;
    height: 37px;
}

.info .text {
    margin-top: 77px;
    position: absolute;
    font-size: 15px;
    padding: 0 20px 10px 20px;
    background-color: white;
    border: 1px solid #ebebeb;
    width: 236px;
}

.info p a {
    color: #975bec;
    text-decoration: none;
    border-bottom: 1px solid #975bec;
}